<!DOCTYPE html>
<html>
<head>
  <title>my self travelling</title>
</head>
<body>
	<header>
	</header>
	
	<section>
		<legend>see where you tweet</legend>
		<ul>
			<li>
				<a href="/auth/twitter">sign in</a>
			</li>
		</ul>
	</section>

	<footer>
	</footer>
<body>
</html>